*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: azure;
}
.albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.album{
    position: relative;
    border: 2px solid wheat;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 3px 2px 2px wheat;
    transition: all 0.5s ease-in-out;
}
.album img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border: 2px solid wheat;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
}
.album:hover img{
    transform: scale(1.05);
    opacity: 1;
}
.album__details{
    text-align: center;
   margin: auto 0px;
   display: none;
   visibility: hidden;
   opacity: 0;
   width: 0;
   transition: all 0.5s ease-in-out;
}

.album:hover .album__details{
    text-align: center;
   margin: auto 0px;
   display: block;
   visibility: visible;
   opacity: 1;
   width: 100%;
}

span{
    position: absolute;
    top:80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 800;
    color: antiquewhite;
}

.album:hover span{
    display: none;
   visibility: hidden;
   opacity: 0;
   width: 0;
   transition: all 0.5s ease-in-out;
}

.albums:hover > *:not(:hover){
    opacity: 0.4;
    transform: scale(0.95);
}